/*=====================================================
    
    SMALLER MOBILE DEVICES

=====================================================*/

@media all and (max-width: 480px) {
	
input[type="text"], input[type="password"] {
	padding: 5px;
	height: 32px;
	line-height: 20px;
}

.inputs {
	text-align: center;
	position: relative;
	display: inline-block;
	overflow: visible;
	width: 100%;
	max-width: 300px;
	padding: 0 !important;
}
.inputs label {
	width: 100%;
	margin: 0 0 5px;
	text-align: center;
}
.inputs select {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
	width: 100%;
	margin: 0 0 5px;
}
input[type="text"], input[type="password"], textarea,
.inputs input[type="text"], .inputs input[type="password"], .inputs textarea {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
	width: 100% !important;
	/*max-width: 227px;*/
}
.inputs .required {
	position: absolute;
	top: 25px;
	right: -3%;
}
select {
	height: 32px;
	padding: 6px !important;
}

.data-table a {
	display: inline-block;
	line-height: 24px;
}
.admin-header-links {
	position: static;
	left: inherit;
	top: inherit;
}
.admin-header-links a {
	width: 100%;
	text-align: center;
	padding: 0;
	margin: 1px 0;
}

.eu-cookie-bar-notification {
    width: 300px;
    max-width: 300px;
    margin-left: -150px;
}

.master-wrapper-content,
.footer .center,
.bottomline .center {
	width: 90%;
}
.master-wrapper-content {
	position: relative;
}
.side-2, .center-2 {
	width: auto;
	float: none;
	margin-left: 0;
	margin-right: 0;
}
.home-page,
.login-page,
.account-page,
.checkout-page,
.wishlist-page,
.password-recovery-page,
.compare-products-page,
.product-reviews-page,
.contact-page,
.email-a-friend-page,
.sitemap-page,
.category-page,
.product-details-page,
.order-details-page,
.search-page,
.registration-page,
.news-list-page,
.news-item-page,
.vendor-list-page {
	text-align: center;
}
.page-title {
	text-align: center;
	position: relative;
	padding: 0 0 32px;
}
.page-title .title {
	display: inline-block;
}
.page-title h1,
.topic-html-content-header {
	float: none;
	font-size: 28px;
	display: inline;
}
.home-page .topic-html-content-body {
	margin-left: 0;
}
#recaptcha_area, #recaptcha_table {
    margin: 10px auto;

}

/* BAR NOTIFICATION */

.bar-notification {
	height: 37px;
	line-height: 37px;
}
.bar-notification .close {
	width: 32px;
	height: 32px;
	margin: 2px 5px;
}
.bar-notification a {
	display: inline-block;
	line-height: 32px;
}
.bar-notification .content {
	font-size: 11px;
}

/* HEADER */

.header-line {
	background: url('../img/responsive-headerline.png') repeat-x bottom;
	padding: 0 0 55px;
}
.header-line .center {
	width: 100%;
}
.header-line .center > div {
	display: inline-block;
	width: 100%;
}
.header-contacts {
	float: none;
	margin-right: 0;
	text-align: center;
	background: #404040;
}
.header-contacts .phone {
	float: none;
}
.header-contacts .mail {
	display: inline-block;
	float: none;
}
.header-contacts .mail a {
	display: inline-block;
	background-position: left 0;
}
.header-contacts .mail a:hover {
	background-position: left -35px;
}
.header-links-wrapper {
	float: none;
	background: #404040;
}
.header-links ul {
	text-align: center;
}
.header-links ul li:first-child {
	margin: 0;
}
.header-links li {
	display: inline-block;
	float: none;
	margin-left: 5px;
}
.header-links li a {
	display: inline-block;
}

.flyout-cart,
.header-basket {
	display: none !important;
}

.header-selectors-wrapper {
	display: block !important;
	float: none;
	width: 100%;
	max-width: 100%;
	text-align: center;
	margin-top: 5px;
}
.header-selectors-wrapper > div {
	display: inline-block;
	float: none;
	margin: 10px 3px 0;
	vertical-align: middle;
}
.header-selectors-wrapper > div > div {
	display: inline-block;
}

.language-list li,
.language-list li:first-child {
	margin: 0;
}
.language-list a {
	width: 32px;
	height: 32px;
}

.new_select {
	width: 150px !important;
	border-radius: 3px;
	background: url("../img/responsive-select1.png") repeat-x;
}
.new_select .passiveSelect,
.new_select .activeSelect {
	height: 25px;
	background: url("../img/responsive-select_btn1.png") right top no-repeat;
	padding: 0 30px 0 5px;
	font: italic 15px/25px 'kepler_b';	
}
.new_select .styleSelect_item_content {
	min-width: 148px;
	border-radius: 0 5px 5px 5px;
}
.new_select .styleSelect_item {
	top: 25px !important;
}

.header {
	overflow: visible;
	padding: 15px 0;
	text-align: center;
}
.header-logo {
	float: none;
	margin-bottom: 15px;
	text-align: center;
}
.header-logo a {
	display: inline-block;
	width: 100%;
}
.header-logo a img {
	max-width: 100%;
}
.search-box.store-search-box {
	position: static;
	display:inline-block;
}
input.search-box-text {
	width: 220px !important;
	height: 33px;
}
.search-box-button {
	margin: 0;
}
.ui-autocomplete.ui-menu.ui-widget.ui-widget-content {
	width: 218px !important;
	border-radius: 5px;
}
.ui-autocomplete.ui-menu.ui-widget.ui-widget-content img {
	display: none;
}

/* HEADER MENU */

.header-menu {
    background: #222;
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto 25px;
}
.menu-title {
    display: block;
    background: url('../img/responsive-navpad.png') top repeat-x;
    border-radius: 5px;
}
.header-menu > ul,
.header-menu > ul > li .dropdown {
	display: none;
}

.menu-title span {
	background: url("../img/responsive-nav-icon.png") no-repeat 97% center;
	color: #BBBBBB;
	display: block;
	font: 24px/50px Tahoma,Geneva,sans-serif;
	text-transform: uppercase;
	padding: 0 0 0 3%;
	cursor: pointer;
}

.header-menu > ul > li {
	 float: none;
	 border-top: 1px solid #2f2f2f;
	 background: #1f1f1f;
	 padding-right: 0;
     position: relative;
}
.header-menu > ul > li:last-child {
	border-radius: 0 0 5px 5px;
}

.header-menu > ul > li > a,
.header-menu > ul > li > span {
    background: url('../img/responsive-navpad.png') top repeat-x !important;
    font-size: 16px !important;
    padding: 14px 24px;
    text-align: left;
    color: #bbb !important;
}

.header-menu > ul .plus-button {
    position: absolute;
    top: 0;
    right: 0;
    border-left: 1px solid #2f2f2f;
    cursor: pointer;
    width: 53px;
    height: 47px;
    background: url('../img/responsive-plus.png') no-repeat center;
}
.header-menu > ul .plus-button:active {
	background: url('../img/responsive-plus.png') no-repeat center;
}
.header-menu > ul .plus-button.close,
.header-menu > ul .plus-button.close:active {
	background: url('../img/responsive-minus.png') no-repeat center;
}

.header-menu .sublist-wrap {
	position: relative;
	top: 0;
	padding: 0;
    border-radius: 0;
    box-shadow: none;
}
.header-menu .sublist li {
    background: none;
}
.header-menu .sublist li a {
	border: none;
    border-bottom: 1px solid #464646;
	padding: 14px 20px;
	font-size: 16px;
    color: #bbb !important;
}
.header-menu .sublist-wrap .sublist-wrap {
	top: 0;
	left: 0;
	border-radius: 0;
	box-shadow: none;
	background: #6e6e6e;
}

.dropdown,
.inner-dropdown {
    display: none;
    background: #4e4e4e;
    padding: 10px; 
}
    .inner-dropdown {
        background: #eee;
    }
.dropdown > ul > li,
.inner-dropdown > ul > li {
	border-top: 1px solid #ddd;
	background-color: #fff;
    position: relative;
}
.dropdown > ul > li:first-child,
.inner-dropdown > ul > li:first-child {
	border-radius: 3px 3px 0 0;
	border-top: 0;
}
.dropdown > ul > li:last-child,
.inner-dropdown > ul > li:last-child {
	border-radius: 0 0 3px 3px;
}
.dropdown > ul > li > a, .inner-dropdown > ul > li > a {
    font: normal normal 16px Tahoma, Geneva, sans-serif;
    padding: 13px 14px 12px 24px;
    display: block;
    color: #666 !important;
    text-transform: uppercase;
}

/* ITEM GRID & CATEGORY PAGE */

.breadcrumb {
	padding: 0;
}
.breadcrumb li a,
.breadcrumb li strong {
	display: inline-block;
	padding: 7px 3px;
	font-size: 13px;
}
.contact-vendor {
    text-align: center;
}
.product-viewmode,
.product-page-size {
	display: none;
}

.product-selectors > div {
	margin: 0 0 10px;
	float: none;
	text-align: center;
}
.product-selectors > div > span {
	line-height: 32px;
	float: none;
}
.product-selectors select {
	margin-left: 0;
}
.product-filters ul,
.product-filters ul:nth-child(5n+1) {
	margin: 0 0 1% 1%;
	width: 49.5%;
	padding: 10px 10px 0;
	text-align: center;
}
	.product-filters ul:nth-child(2n+1) {
		margin: 0 0 2% !important;
		clear: both;
	}
.product-filters li.title {
	margin:0;
	border-bottom: 0;
}
.product-filters li.item {
	padding: 0;
	border-top: 1px dotted #ccc;
}
.product-filters li.item a {
	display: block;
	padding: 9px 0;
}
.remove-filter a {
	padding: 9px 20px;
}

.product-grid {
	text-align: center;
}
.product-grid .item-grid,
.product-list .item-grid {
	border-radius: 5px 5px 0 0;
}
.product-grid .item-box {
	max-height: 565px;
	height: auto;
}
.category-title, .grid-title, .vendor-title {
	text-align: center;
}
.category-title .title,
.grid-title strong,
.vendor-title h2 {
	font-size: 28px;
	display: inline;
}
.item-box,
.cross-sells .item-box,
.product-list .item-box {
	float: none !important;
	width: auto;
	margin: 0 0 2.5% !important;
	padding: 3%;
	text-align:center;
}
.item-box input[type="button"],
.item-box .buynow-button {
	padding: 10px 0;
}
.item-box .button-2.add-to-compare-list-button {
    padding: 11px 0;
    font-size:24px;
}
.item-box .rating {
	margin: 0 auto 10px;
}
.item-box .rating,
.item-box .description{
	display: none;
	margin:0;
}
.bestsellers .item-box, 
.home-page-product-grid .item-box {
	width: auto;
}
.home-page-product-grid .picture a {
	width: 100%;
	max-width: 278px;
}
.sub-category-grid .item-box,
.home-page-category-grid .item-box {
	width: auto;
	margin: 0 0 10px;
	padding: 2%;
}
.sub-category-grid .title,
.home-page-category-grid .title {
	margin: 0;
	border-radius: 5px;
}
.sub-category-grid .title a,
.home-page-category-grid .title a {
	padding: 13px 12px 10px;
	text-align: center;
}
.sub-category-grid .picture,
.home-page-category-grid .picture {
	display: none;
}
.pager div {
	float: none;
	height: auto;
	border-radius: 0 0 5px 5px;
	overflow: hidden;
	padding: 5px 5px 0;
}
.pager div.corner {
	display: none;
}
.pager ul {
	float: right;
}
.pager li,
.pager li:first-child {
	margin: 0 5px 10px;
}
.pager a, .pager span {
	font-size: 14px;
	padding: 7px 12px 8px;
}


/* BLOCKS */

.block {
	position: relative;
	padding: 0;
}
.block-category-navigation {
	clear: both;
}
.block .title {
	border-width: 0;
	border-radius: 5px 5px 0 0;
	background: none;
	box-shadow: 0;
	padding: 0;
}
.block .title strong,
.block .title a.toggleControl {
	display: block;
	width: 100%;
	border: none;
	box-shadow: none;
	padding: 15px;
	font-size: 13px;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	background: url(../img/responsive-toggle.png) no-repeat 97% center;
}
.block .listbox {
	display: none;
	border-top: 1px solid #eee;
	margin: 0 15px 15px;
}
.block .list li a {
	padding: 12px 0 12px 20px;
}
.block-popular-tags a,
.block-popular-blogtags a {
	line-height: 28px;
}
.block .view-all {
	text-align: center;
}
.vote-poll-button {
	padding: 8px 23px;
}

/* PRODUCT PAGE */

.gallery {
	float: none;
	width: auto;
	text-align: center;
}
.gallery .picture {
	margin: 0 auto;
	max-width: 100%;
	overflow: hidden;
}
.gallery .picture-thumbs {
	width: 100%;
	max-width: 336px;
	margin: 0 auto;
}
.gallery .picture-thumbs a {
	display: inline-block;
	float: none;
	width: 73px;
	height: 73px;
	margin: 10px 4px 0 4px;
}
.gallery .picture-thumbs a img {
	max-width: 100%;
}
.product-details-page .overview {
	float: none;
	width: auto;
	margin: 0 0 20px;
}
.product-details-page .product-name h1, 
.product-details-page .variant-name,
.product-grid .title {
	font-size: 28px;
	display: inline-block;
}
.product-review-box .rating {
	margin: 0 auto 5px;
}
.product-review-links a,
.product-no-reviews a {
	display:inline-block;
	line-height: 32px;
}
.product-details-page .manufacturers {
	line-height: 32px;
}
.product-details-page .add-info > * {
	float: none;
	margin: 0 0 10px;
}
.product-details-page .free-shipping {
    margin: auto;
}
.add-to-wishlist-button,
.add-to-compare-list-button {
	padding: 8px 12px;
	font-size: 12px;
}
	.email-a-friend-button {
		height: 32px;
	}
.order-line > *,
.order-line .prices > * {
	float: none;
	text-align: center;
}
.order-line .prices {
	margin: 0 0 10px;
	line-height: 24px;
}
	.order-line .product-price {
		margin: 0;
	}
.add-to-cart * {
	float: none !important;
}
.add-to-cart .quantity {
	float: none;
	margin: 0 0 10px;
	text-align: center;
}
.add-to-cart .add-to-cart-button {
	padding: 10px 32px;
}
.add-to-cart .qty-label {
	margin: 0 5px 0 0;
	font-size: 12px;
	line-height: 45px;
}
.add-to-cart .qty-input {
	padding: 10px;
	height: 46px;
	margin: 0;
	width: 46px !important;
}
.product-variant-line .variant-picture {
	float: none;
	margin: 0 auto 10px;
}
.product-variant-line .variant-overview {
	width: 100%;
}
.product-variant-line .variant-picture + .variant-overview {
	width: auto;
	float: none;
}
.variant-picture + .variant-overview {
	clear: both;
}

.product-tags-list li {
	float: none;
	margin: 0 5px 5px;
	display: inline-block;
}
.product-tags-list li,
.product-tags-list li a {
	line-height: 32px;
	display:inline-block;
}
.user-agreement-page{
    text-align:center;
}
.terms-of-agreement{
    margin-top:0;
}

/* QUICK TABS */

.ui-tabs .ui-tabs-nav {
	float: none;
	background: none;
}
.ui-tabs .ui-tabs-nav li {
	 float: none;
	 border-top: 1px solid #2f2f2f;
	 background: #1f1f1f;
	 padding: 0;
	 border-radius: 0;
	 overflow: hidden;
}
	.ui-tabs .ui-tabs-nav li:first-child {
		background: #1f1f1f;
		border-radius: 5px 5px 0 0;
	}
.ui-tabs .ui-tabs-nav li a {
	background: url('../img/responsive-navpad.png') top repeat-x;
	text-align: center;
	display: block;
	height: auto;
	line-height: 42px;
	-webkit-transition: color .07s ease-in-out;
	-moz-transition: color .07s ease-in-out;
	-o-transition: color .07s ease-in-out;
	transition: color .07s ease-in-out;
	border-radius: 0 !important;
}
.ui-tabs .ui-tabs-nav li a:hover {
	background: url('../img/responsive-navpad.png') bottom repeat-x;
}

.ui-tabs .ui-tabs-panel {
	border-top: 0;
}
.ui-tabs .ui-tabs-nav li:last-child,
.ui-tabs .ui-tabs-nav li:last-child a {
	border-radius: 0 0 5px 5px;
}

/* ATTRIBUTES & COLOR SQUARES */

.attributes select {
	max-width: 100%;
}
.attributes label {
	display: inline-block;
	line-height: 32px;
	cursor: pointer;
}
.rental-attributes input[type='text']{
    max-width: 280px;
}
	.color-squares li {
		margin-left: 3px;
	}
	.color-squares li:first-child {
		margin-left: 0;
	}
	.color-squares label {
		line-height: 28px;
	}
	.color-squares .color {
		width: 28px;
		height: 28px;
		border-radius: 3px;
	}

/* SEARCH PAGE */

.basic-search input[type="text"] {
	width: 80%;
}
.search-input .inputs label {
	margin: 0 0 5px;
	text-align: center;
}
.search-input .inputs.reversed label {
	display: inline-block;
	line-height: 33px;
}
.advanced-search .inputs {
	padding-left: 0;
}
.advanced-search .inputs select {
	max-width: 100%;
	width: 100%;
}
.search-input input[type="submit"] {
	padding: 12px 36px;
}
.search-page .product-list .picture {
	float: none;
	width: auto;
}
.search-page .product-list .details {
	margin: 0;
}
.advanced-search .price-range > * {
	margin: 0 0 5px;
}
.product-list input[type="button"] {
	width: 100%;
}

/* GIFTCARD */

.giftcard label {
	line-height: 32px;
	float: none;
}
.giftcard input[type="text"],
.giftcard textarea {
	padding: 3px;
	line-height: 24px;
	max-width: 95%;
}
.giftcard input[type="text"] {
	height: 24px;
}

/* REGISTRATION PAGE */

.registration-page .title, 
.login-page .title, 
.account-page .title, 
.return-request-page .title {
	text-align: center;
}
.registration-result-page {
	text-align: center;
}
	.registration-result-page .result {
		padding: 20px 10px 71px;
	}
	.registration-result-page .buttons {
		bottom: 12px;
		top: inherit;
		right: 50%;
		margin-right: -62px;
	}
.gender {
	margin: 0 5px;
}

/* LOGIN PAGE */

.registration-page .buttons,
.registration-result-page .buttons,
.login-page .buttons,
.account-page .buttons,
.account-page .add-button {
	margin-top: 10px;
	text-align: center;
}
.login-page input[type="button"].checkout-as-guest-button {
	margin-bottom: 10px;
	float: none;
}
.login-page .inputs.reversed {
	padding-left: 3px;
}
.login-page input[type=text],
.login-page input[type="password"] {
	width: 90%;
	max-width: 300px;
}
.registration-page input[type="submit"], 
.registration-result-page input[type="button"], 
.login-page input[type="submit"], 
.login-page input[type="button"], 
.account-page .button-1, 
.password-recovery-page .button-1 {
	padding: 12px;
	font-size: 16px;
	width: 100%;
	max-width: 190px;
}
.forgot-password {
	display: block;
	margin: 5px 0;
	text-align: center;
}
.external-authentication fieldset.facebook-login-block {
	float: none !important;
}

/* MY ACCOUNT */

#check-availability-button {
	margin: 10px auto 0;
	padding: 10px;
}
.registration-page .inputs label, .account-page .inputs label {
	width: 100%;
}
.account-page .button-2 {
	padding: 10px 20px;
	font-size: 14px;
	display: block;
	margin: 0 auto;
	min-width: 120px;
}
	.account-page .button-2:first-child {
		margin-bottom: 10px;
	}
.account-page input[type=file] {
	padding: 10px;
}
.account-page .address-item .info, .account-page .order-item .info,
.account-page .address-item .buttons, .account-page .order-item .buttons {
	float: none;
}
#username-availabilty{
    float:none;
    display:block;
    width:100%;
}

/* SHOPPING CART */

.order-progress li {
	width: 32%;
	margin-bottom: 5px;
}
	.order-progress li a {
		font-size: 11px;
	}
.wishlist-page .buttons,
.checkout-page .common-buttons {
	text-align: center;
}
.wishlist-page .buttons input[type="button"],
.wishlist-page .buttons input[type="submit"],
.checkout-page .common-buttons input[type="submit"] {
	margin: 10px 0;
	padding: 10px;
}
.cart input[type="text"] {
	width: 32px !important;
	text-align: center;
}
.cart-footer {
	text-align: center;
}
.cart-footer .totals {
	width: 100%;
	max-width: 220px;
	float: none;
	display: inline-block;
}
.cart-footer .checkout-button {
	padding: 14px 10px;
	width: 170px;
}
.cart-collaterals {
	width: auto;
	display: inline-block;
	float: none;
}
.cart-collaterals .deals {
	float: none;
	width: 90%;
	margin-right: 0;
	display: inline-block;
}
	.cart-collaterals .coupon-box,
	.cart-collaterals .giftcard-box,
	.cart-collaterals .shipping {
		padding: 3% 6%;
	}
.cart-collaterals .shipping {
	float: none;
	width: auto;
}
.cart-collaterals input[type="text"] {
	margin: 5px 0;
}
	.cart-collaterals input[type="submit"] {
		padding: 8px 10px;
	}
.cart-collaterals .shipping-options select,
.cart-collaterals .shipping-options .zip-input {
	width: 100% !important;
}
	.cart-collaterals .estimate-shipping-button {
		float: none;
	}

.order-summary-content .addon-buttons {
	text-align: center;
	margin: 0;
	float: none;
	width: auto;
}

/* CHECKOUT PAGE */

.checkout-attributes dl > * {
	display: block;
	float: none;
	margin: 5px;
	text-align: center;
}
.checkout-attributes li {
	padding: 5px 0;
}
.selected-checkout-attributes {
	float: none;
	text-align: center;
}
.address-grid .address-item {
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
.checkout-data input[type="submit"],
.checkout-data input[type="button"] {
	padding: 10px;
	font-size: 13px;
}
.checkout-data input[name=nextstep] {
	padding: 10px 25px !important;
}
.checkout-page select {
	max-width: 300px;
	width: 100%;
}
ul.method-list li .method-name input[type=radio],
ul.method-list li .method-name label {
	float: none;
}
.method-name .payment-logo {
	display: block;
}
.order-review-data {
	text-align: center;
}
.order-review-data ul {
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #ddd;
	border-radius: 5px;
	background: #f6f6f6;
	margin: 0 0 5px;
	padding: 10px;
}
.order-review-data li.title {
	margin: 0;
}
.checkout-data .section .title {
	font-size: 16px;
}
.order-completed a {
	line-height: 32px;
}
.checkout-data .buttons {
	text-align: center;
	padding: 20px 10px;
}
.order-details-page .actions {
	text-align: center;
	margin: 15px 0;
}
.order-details-page .button-1 {
	padding: 10px;
}
.order-details-page .page-title {
	text-align: center;
	width: 100%;
}
.order-details-page .page-title h1 {
	display: inline-block;
	float: left;
    width:100%;
    text-align:left;
	margin: 0 0 40px;
}
.order-details-page .print-order-button, 
.order-details-page .pdf-order-button {
	top: auto;
	right: auto !important;
	left: 50%;
	bottom: -10px;
	margin-left: -5px;
}
.order-details-page .print-order-button {
	margin-left: -80px;
}
.order-details-page .page-title > a.button-2 {
    display: inline-block;
    float: none;
    margin: 7px;
    width: 70px;
    position:inherit;
    top:0;
    left:0;
    right:0;
}

.order-details-page .actions input[type=button] {
	padding: 9px 12px;
	vertical-align: middle;
	float: none;
	display: block;
	margin: 0 auto;
}
.order-details-page .total-info {
	margin: 0 0 15px;
}

.order-details-area td {
	display: block;
	width: 100%;
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.order-details-page .cart-total {
	width: 170px;
	margin: 0 auto;
}
.order-details-page .cart-total-left {
	width: auto;
}
.order-details-page .cart-total-right {
	text-align: left;
}

.shipment-details-page {
	text-align: center;
}
.shipment-overview ul {
	width: 100%;
	float: none;
	margin: 0 0 15px;
	text-align: center;
}

/* OPC */

.opc .step-title {
	padding: 10px;
}
.opc .step-title * {
	float: none;
	margin: 0;
	display: inline-block;
}
.opc .active .step-title * {
	font-size: 24px;
}
.opc .checkout-data, .opc .buttons {
	padding: 2%;
}

/* EU COOKIE LAW */

[aria-describedby="dialog-eu-cookie-law"] {
	width: 100% !important;
	left: 0 !important;
	margin-left: 0 !important;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
[aria-describedby="dialog-eu-cookie-law"] button {
	padding: 7px 21px;
}
[aria-describedby="dialog-eu-cookie-law"] .ui-dialog-titlebar button {
	padding: 12px;
}

/* COMPARE LIST */

.compare-products-page .page-title {
	margin-bottom: 50px;
}
.compare-products-page .page-body {
	position: relative;
}
.compare-products-page .clear-list {
	padding: 7px 14px;
	top: -40px;
	right: 50%;
	margin-right: -40px;
}
.compare-products-page input[type="button"] {
	padding: 9px 18px;
}

/* WISHLIST PAGE */

.share-info a {
	word-break: break-all;
	overflow-wrap: break-word;
	display: block;
}

/* PASSWORD RECOVERY */

.password-recovery-page label {
	text-align: center;
	width: 100% !important;
}
.password-recovery-page .buttons {
	text-align: center;
}

/* FANCYBOX (+TERMS&CONDITIONS) */

[aria-describedby="terms-of-service-warning-box"] {
	width: 100% !important;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
#fancybox-wrap {
	width: 100% !important;
	left: 0 !important;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
#fancybox-outer,
#fancybox-content {
	width: auto !important;
}

/* PRODUCT REVIEWS PAGE */

.write-review input[type="text"],
.write-review textarea {
	width: 90% !important;
	max-width: 428px;
}
.review-rating > label {
	margin-bottom: 5px;
	width: 100%;        
}
.review-rating ul {
	width: auto;
	text-align: left;
	font-size: 11px;
}
.write-review .buttons {
	text-align: center;
}

/* CONTACT PAGE */

.contact-page .inputs, 
.email-a-friend-page .inputs,
.contact-page .buttons,
.email-a-friend-page .buttons {
	padding: .3% 0;
}
.contact-page input[type="submit"],
.email-a-friend-page input[type="submit"] {
	padding: 10px 24px;
}
.contact-page label, 
.email-a-friend-page label {
	float: none;
}
.contact-page textarea,
.email-a-friend-page textarea {
	width: 100%;
	max-width: 485px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

/* RETURN REQUEST PAGE */

.return-request-page td:last-child {
	text-align: left !important;
}
.return-request-page .inputs label {
	width: 100%;
	margin-bottom: 5px;
}
.return-request-page textarea {
	width: 100%;
	max-width: 485px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;    
}
.return-request-page .buttons {
	text-align: center;
}
.return-request-page .button-1 {
	max-width: 185px;
	width: 100%;
	padding: 10px 5px;
	font-size: 14px;
}

/* SITEMAP */

.sitemap-page .entity > * {
	padding: 10px;
}
.sitemap-page li {
	padding-left: 10px;
	-webkit-transition: background .1s ease-in-out;
	-moz-transition: background .1s ease-in-out;
	-o-transition: background .1s ease-in-out;
	transition: background .1s ease-in-out;
}
.sitemap-page a {
	line-height: 32px;
	display: block;
	text-align: left;
	-webkit-transition: background .1s ease-in-out;
	-moz-transition: background .1s ease-in-out;
	-o-transition: background .1s ease-in-out;
	transition: background .1s ease-in-out;
}
.sitemap-page li:active,
.sitemap-page li:hover {
	background: #eee;
}

/* BAR NOTIFICATION */

.bar-notification {
	height: auto;
}

/* NEWS */

.news-list-page .page-title {
	position: relative;
	padding-bottom: 30px;
	display: block;
}
.link-rss {
	position: absolute;
	right: 4%;
	margin-left: -12px;
	top:15px;
}

.news-items .news-item:first-child {
	margin-top:0;
}
.news-list-page .news-item, .news-list-homepage .news-item {
	padding: 10px;
	margin: 15px 0 0;
}
.news-list-page .news-title, .news-list-homepage .news-title {
	display: block;
	margin: 0;
}
.news-list-page .news-details, .news-list-homepage .news-details {
	margin-bottom: 10px;
}
.news-list-page .read-more, .news-list-homepage .read-more {
	padding: 8px 16px;
	float: none;
	display: inline-block;
}

.news-item-page .new-comment label {
	margin: 0 0 8px;
	width: 100%;
	text-align: center;
}
.news-item-page .buttons {
	padding: 0;
}

.news-list-homepage .title {
	display: inline-block;
}
.news-list-homepage .view-all a {
	display: inline-block;
	line-height: 32px;
}

/* VENDORS */

.vendor-list li a {
	padding: 4px 12px;
}

/* FOOTER */

.footer .footlist {
	float: none;
	width: 60%;
	margin: 0 auto 15px !important;
	text-align: center;
}
.footer .footlist li {
	background: none;
	font-size: 12px;
	padding: 0;
}
.footer .footlist a {
	display: inline-block;
	padding: 7px 0 7px 10px;
	font-size: 12px;
	line-height: 13px;
}
.footer-contacts li {
	padding: 4px 0 3px 27px
} 
.footer .footbox {
	float: none !important;
	margin: 0 auto 15px !important;
}
.footer .footbox.newsletter {
	width: 100%;
	text-align: center;
}
input.newsletter-text {
	width: 180px !important;
	height: 30px;
}
.newsletter-subscribe {
	display: inline-block;
	min-width: 218px;
}
.footer .footbox.pay-options,
.newsletter {
	width: 100%;
	text-align: center;
}
.footer .footbox.pay-options img {
	width: 14%;
	max-width: 48px;
	margin-right: 3px;
}
.footer .footbox.social {
	width: 100%;
	text-align: center;
}
.footer .footbox h3 {
	text-align: center;
}
.bottomline {
	height: auto;
	max-height: 115px;
	background: url('../img/responsive-bottom.png') top repeat-x;
	text-align: center;
	color: #bbb;
}
.footer-poweredby {
	display: block;
	position: static;
	line-height: normal;
    margin-bottom: 10px;
}
.footer-disclaimer {
	display: block;
	position: static;
}
.footer-storetheme {
	margin-bottom: 10px;
}
.footer-storetheme select {
	color: #ccc;
}
.newsletter-subscribe .newsletter-subscribe-text{
    max-width:188px;
}
.newsletter-subscribe .newsletter-unsubscribe-button{
    right:0;
}
/*FORUM*/
.forum-search-page .advanced-search{
    text-align:center;
}
.search-input .inputs.reversed{
    clear:both;
}
.forum-search-page .basic-search > div{
    float:none;
    margin:0 auto;
    max-width:100%;
}
}